altgraph==0.17.3
Babel==2.10.3
borb==2.1.5.3
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.1.1
colorama==0.4.5
docopt==0.6.2
fonttools==4.38.0
future==0.18.2
idna==2.10
InvoiceGenerator==1.1.0
Jinja2==3.0.1
MarkupSafe==2.0.1
pdfkit==1.0.0
pefile==2022.5.30
Pillow==9.3.0
pipreqs==0.4.11
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.11
PyMuPDF==1.20.2
python-barcode==0.14.0
pytz==2022.4
pywin32-ctypes==0.2.0
qrcode==7.3.1
qrplatba==0.5.0
reportlab==3.6.11
requests==2.25.1
tkDocViewer==2.0.2
tkPDFViewer==0.1
urllib3==1.26.6
yarg==0.1.9
